body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7289da;
}

.card {
    background-color: #2F3136;
    font-family: monospace;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.3);
}

.some-text {
    color: #7289da;
    text-decoration: none;
}
.some-text:hover {
    color: white;
}

.content {
    padding: 0 15px 0 25px;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    max-width: 150px;
    border: 5px solid #2F3136;
    margin-top: -40px;
    border-radius: 20px;
}

.social-github {
    color: #7289da
}

.social-vk {
    color: #7289da
}

.social-discord {
    color: #7289da
}

.social-money {
    color: #7289da
}
.social-discord:hover, .social-github:hover, .social-money:hover {
    color: white;
}
.namee {
    color: white;
}


.name {
    font-size: 25px;
    line-height: 0;
    padding-top: 20px;
    color: white;
}